body, html {
    /* width: 100vw; */
}

.container {
  display: flex;
  flex:1;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* height: 100px;
  width: 100px; */
  background: rgb(153, 153, 153);
  width: 100%;
  /* padding: 10px; */
  margin-left: 0;
  margin-top: 0;
  gap : 0 px;
}

.squares {
    /* /* display: flex; */
    display: flex;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center; */
    /* width: 100 px;
    height: 100 px; */
    background-color: rgb(241, 230, 255);
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    width: 6.25%;
    height: inherit;
}

.changeColor {
  background-color: black;
}